@font-face {
	font-family: "spacemono";
	font-weight: normal;
	src: url("../assets/font/SpaceMono-Regular.woff2");
}

@font-face {
	font-family: "spacemono";
	font-weight: bold;
	src: url("../assets/font/SpaceMono-Bold.woff2");
}

@font-face {
	font-family: "bstrd";
	src: url("../assets/font/NewspaperCutoutWhiteOnBlac-Rg.ttf") format('truetype');
}

@font-face {
	font-family: "barcodetext";
	src: url("../assets/font/LibreBarcode128Text-Regular.woff2");
}

@font-face {
	font-family: "beech";
	src: url("../assets/font/beech.ttf") format('truetype');
}