
/* These are all the same as theme-dark:not(.theme-darker):not(.theme-midnight) right now. Need more variables AND unique colour schemes. */
:root.theme-light {
	--mindspike-chat-bg: black;
	--mindspike-chat-color-deleted: gray;
	--mindspike-chat-color0: aqua;
	--mindspike-chat-color1: yellow;
	--mindspike-chat-input-color: magenta;
	--mindspike-left-sidebar-color0: gray;
	--mindspike-left-sidebar-color1: aqua;
	--mindspike-headerbar-color: aqua;
	--mindspike-emoji-picker-color0: yellow;
	--mindspike-emoji-picker-color1: aqua;
	--mindspike-profile-color: yellow;
	--mindspike-profile-full-color: yellow;

	--mindspike-chat-color-editmsg: rgb(181, 181, 0);

	--mindspike-golem-boldness: var(--font-weight-semibold);
}

:root.theme-dark:not(.theme-darker):not(.theme-midnight) {
	--mindspike-chat-bg: black;
	--mindspike-chat-color-deleted: gray;
	--mindspike-chat-color0: aqua;
	--mindspike-chat-color1: yellow;
	--mindspike-chat-input-color: magenta;
	--mindspike-left-sidebar-color0: gray;
	--mindspike-left-sidebar-color1: aqua;
	--mindspike-headerbar-color: aqua;
	--mindspike-emoji-picker-color0: yellow;
	--mindspike-emoji-picker-color1: aqua;
	--mindspike-profile-color: yellow;
	--mindspike-profile-full-color: yellow;

	--mindspike-chat-color-editmsg: rgb(181, 181, 0);

	--mindspike-golem-boldness: var(--font-weight-semibold);
}

:root.theme-darker {
	--mindspike-chat-bg: black;
	--mindspike-chat-color-deleted: gray;
	--mindspike-chat-color0: aqua;
	--mindspike-chat-color1: yellow;
	--mindspike-chat-input-color: magenta;
	--mindspike-left-sidebar-color0: gray;
	--mindspike-left-sidebar-color1: aqua;
	--mindspike-headerbar-color: aqua;
	--mindspike-emoji-picker-color0: yellow;
	--mindspike-emoji-picker-color1: aqua;
	--mindspike-profile-color: yellow;
	--mindspike-profile-full-color: yellow;

	--mindspike-chat-color-editmsg: rgb(181, 181, 0);

	--mindspike-golem-boldness: var(--font-weight-semibold);
}

:root.theme-midnight {
	--mindspike-chat-bg: black;
	--mindspike-chat-color-deleted: gray;
	--mindspike-chat-color0: aqua;
	--mindspike-chat-color1: yellow;
	--mindspike-chat-input-color: magenta;
	--mindspike-left-sidebar-color0: gray;
	--mindspike-left-sidebar-color1: aqua;
	--mindspike-headerbar-color: aqua;
	--mindspike-emoji-picker-color0: yellow;
	--mindspike-emoji-picker-color1: aqua;
	--mindspike-profile-color: yellow;
	--mindspike-profile-full-color: yellow;

	--mindspike-chat-color-editmsg: rgb(181, 181, 0);

	--mindspike-golem-boldness: var(--font-weight-semibold);
}

* {
	--background-primary: black !important;
	--background-secondary: black !important;
	--background-secondary-alt: black !important;
	--background-tertiary: black !important;
	--background-floating: black !important;
	--channeltextarea-background: black !important;
	--background-modifier-selected: black !important;
	--background-modifier-hover: black !important;
	--background-modifier-active: black !important;
	--modal-background: black !important;
	--home-background: black !important;
	--custom-category-channel-space-before-category: 2px !important;
	--button-secondary-background: yellow !important;
	--button-secondary-background-hover: aqua !important;
	--brand-experiment: yellow !important;
	--button-positive-background: yellow !important;
	--button-positive-background-hover: aqua !important;
	--modal-footer-background: black !important;
	--button-danger-background: #FF0066 !important;
	--button-danger-background-hover: aqua !important;
	--button-outline-danger-border: #FF0066 !important;
	--button-outline-danger-border-hover: #FF0066 !important;
	--button-outline-danger-background-hover: #FF0066 !important;
	--button-outline-danger-text: #FF0066 !important;
	--button-outline-danger-text-hover: black !important;
	--profile-gradient-button-color: yellow;
	--brand-500: aqua;
	--bg-brand: aqua;
	--brand-200: #FF0066;
	--text-positive: aqua;
}

/* .colorBrand__201d5 {
	background-color: #FF0066;
} */

body *, ::placeholder {
	font-family: "spacemono" !important;
	font-size: 0.8rem;
	font-variant-ligatures: none !important;
}

::placeholder {
	color: inherit !important;
	opacity: 0.5 !important;
}


*::selection {
	color: #000;
	background-color: white;
}

::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
}

::-webkit-scrollbar-track {
	background: transparent !important;
}

::-webkit-scrollbar-thumb {
	background: aqua !important;
	border-radius: 0 !important;
}
