

* {
	--background-primary: black !important;
	--background-secondary: black !important;
	--background-secondary-alt: black !important;
	--background-tertiary: black !important;
	--background-floating: black !important;
	--channeltextarea-background: black !important;
	--background-modifier-selected: black !important;
	--background-modifier-hover: black !important;
	--background-modifier-active: black !important;
	--modal-background: black !important;
	--home-background: black !important;
	--custom-category-channel-space-before-category: 2px !important;
	--button-secondary-background: yellow !important;
	--button-secondary-background-hover: aqua !important;
	--brand-experiment: yellow !important;
	--button-positive-background: yellow !important;
	--button-positive-background-hover: aqua !important;
	--modal-footer-background: black !important;
	--button-danger-background: #FF0066 !important;
	--button-danger-background-hover: aqua !important;
	--button-outline-danger-border: #FF0066 !important;
	--button-outline-danger-border-hover: #FF0066 !important;
	--button-outline-danger-background-hover: #FF0066 !important;
	--button-outline-danger-text: #FF0066 !important;
	--button-outline-danger-text-hover: black !important;
	--profile-gradient-button-color: yellow;
	--brand-500: aqua;
	--bg-brand: aqua;
	--brand-200: #FF0066;
	--text-positive: aqua;
}